/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 500px;
    overflow: hidden; /* Para evitar que elementos se estendam além da borda */
}

.left-section {
    width: 60%;
    padding: 20px;
    position: relative;
}

.logo {
    width: 50px;
    position: absolute;
    top: 20px;
    padding: 20px;
    left: 20%;
}

.input-area {
    height: calc(100% - 70px);
    margin-top: 40px; /* Ajusta a posição da área de entrada */
}

textarea#input-text {
    width: 100%;
    height: calc(100% - 70px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: none;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.note {
    font-size: 12px;
    color: #888;
    text-align: left;
    position: absolute;
    bottom: 40px;
}

.right-section {
    width: 40%;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.output-container {
    width: 100%;
    text-align: center;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
}

#personagem {
    display: block;
    max-width: 150px;
    margin-bottom: 20px;
}

textarea#output-text {
    width: 100%;
    height: 250px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: none;
    display: none; /* Oculto por padrão */
}

#output-placeholder {
    color: #888;
    font-size: 16px;
    margin: 20px 0;
}

#copy-button {
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    display: none; /* Oculto por padrão */
}

#copy-button:hover {
    background-color: #007bff;
    color: #fff;
}

.show-output #personagem,
.show-output #output-placeholder {
    display: none;
}

.show-output #output-text {
    display: block;
}

.show-copy #copy-button {
    display: block;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left-section, .right-section {
        width: 100%;
    }

    textarea#input-text, textarea#output-text {
        height: 100px;
    }

    button {
        width: 100%;
    }
}
